.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  "h h" 
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/

}
.header{
  grid-area: h;
  background-color: goldenrod;
}
.nav{
  grid-area: n;
  background-color: burlywood;
  text-align: center;
}
.content{
  grid-area: c;
  background-color: Lightblue;
}
.content img{
  width: 100%;
}

.App-logo {
  height: 40vmin;
}
.header img {
 height: 60px;
 width: 60px;
}

